#map {
    height: 800px;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

.column {
    flex: 1;
    margin: 10px;
    width: 50%;
}

.data-point {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.data-point img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.data-point-text {
    display: flex;
    flex-direction: column;
}

.data-point-text p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.key-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.key-item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.key-item p {
    margin: 0;
}

.about-text {
    margin: 40px 80px;
}

.about-text hr {
    background-color: #B8C9D8;
    height: 2px;
    border-radius: 0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .column {
        width: 100%;
        margin: 10px 0;
    }

    .about-text {
        margin: 20px 20px;
    }
}