{% extends 'base.html' %}

{% block content %}
<head>
    <title>Wind Farm Explorer | By The Crown Estate</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <style>
    </style>
</head>
<body>
    <div class="container">
        <div class="column">
            <div id="info"></div>
        </div>
        <div class="column">
            <div id="map">
        </div>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>



{% endblock %}